@charset "UTF-8";
.avatar {
  margin: auto auto 2em auto;
  width: 320px;
  height: 320px;
  overflow: hidden;
  /* 中央配置のため */
  display: flex;
  align-items: center;
}
.avatar img {
  margin: 0 auto;
  /* 比率維持のため縦横の「片方だけ」 */
  width: inherit;
}
